p
{
	color: red;
}

#titlu_mare
{
	background-color: lightgreen;
	color: magenta;
	font-size: 29;
}

#canvas1
{
	border: 2px solid cyan;
	width: 500px;
	height: 500px;
}
#button
{
	border: 1px purple solid;
	width:100px;
	background-color: green;
	height: 100px;
}
#button:hover
{
	background-color: yellow;
	cursor: pointer;
}