div
    {
        border: 3px solid magenta;
        padding: 3px;
        background-color: blueviolet;
        font-size: 20px;
    }

img
    {
        float: right;
        border: 2px solid green;
    }

p
    {
        font-size: 20px;
        clear: right;
    }
#chestie
    {
        overflow: auto;
    }