div
	{
		padding: 19px;
		margin: 20px;
		border-style: solid; /*Daca lipseste => NU arata bordura*/
		border-width: 15 25 15 25; /*top, right, bottom, left*/
		border-color: blue yellow red yellow;
		
		width: 200px;
		float: right;
		height: 150;
	}
	
#unu
	{
		background-color: cyan;
		border-radius: 50px;
	}
#doi
	{
		background-color: lightgreen;
		border-radius: 25% 10%;
	}
	
#trei
	{
		background-color: lightblue;
		border-radius: 50px 10em 10%;
	}
#patru
	{
		background-color: lightcoral;
		border-radius: 50px 50% 50em 23cm;
	}
	

	
