:root 
	{
		--variabila_globala_heading_color: red;
		--variabila_globala_heading_color_alternativ: cyan;
		--dimensiune_font: 20px;
		--culoare_personala_1: yellow;
	}


h1 
	{
		color: var(--variabila_globala_heading_color, black); /*Al doilea parametru este fallback, in cazul in care nu functioneaza*/
		background-color: lightgreen;
	}
	
#h1_cu_calcul 
	{
		color: var(--variabila_globala_heading_color, black); /*Al doilea parametru este fallback, in cazul in care nu functioneaza*/
		background-color: lightgreen;
		font-size: calc( var(--dimensiune_font) * 3.7 );
	}
	
/*Acum folosesc variabile locale, valabile doar in interiorul blocurilor in care sunt definite*/

#div1
	{
		--culoare_personala_1: lightblue;
		background-color: var( --culoare_personala_1, black );/*aici se incarca valoarea variabilei locale*/
	}

#div2
	{
		background-color: var( --culoare_personala_1, black ); /*aici se incarca valoarea variabilei globale*/
	}