ul
	{
		list-style-type: none;
		margin: 0px;
		padding: 2px;
		overflow: hidden;
		background-color: lightgreen;
	}

li
	{
		float: left;
	}
	
	
li a
	{
		display: block;
		color: blue;
		font-size: 20 px;
		text-align: center;
		padding: 5px;
		margin: 5px;
	}
.active
{
	background-color: red;
	color: black;
}

li a:hover
{
	background-color: orange;
	color: black;
}