ul
	{
		list-style-type: none;
		margin: 0px;
		padding: 2px;
		overflow: hidden;
		background-color: lightgreen;
		display: flex;
		justify-content: center;
	}

li
	{
		float: left;
	}
li a
	{
		display: block;
		color: blue;
		font-size: 340 px;
		text-align: center;
		padding: 5px;
		margin: 5px;
		text-decoration: none;
	}

.active1
	{
		background-color: darkblue;
		color: grey;
		font-size: 34px;
		border: 3px solid cyan;
	}

.active2
	{
	background-color: red;
	border-radius: 12px 0px 12px 0px;
	color: black;
	font-size: 34px;
	border: 3px dashed yellow;
	}
.active3
	{
	background-color: magenta;
	border-radius: 20px 20px 20px 20px;
	color: darkred;
	font-size: 34px;
	border: 3px dotted pink;
	}
.active4
	{
	background-color: darkgreen;
	border-radius: 30px 30px 30px 30px;
	color: black;
	font-size: 34px;
	border: 3px solid blue;
	}

	
li a:hover
{
	background-color: orange;
	color: black;
}